* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: calc(100vh + 8rem);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex: 1;
}

.content {
  width: 100%;
  max-width: 1000px;
  padding: 2rem;
  padding-top: 0;
  flex:1;
}

.animeLeft {
  transform: translateX(-2rem);
  opacity: 0;
  animation: animeLeft .3s ease forwards;
}

img {
  border-radius: .5rem;
  max-width: 100%;
}

@keyframes animeLeft {
  to {
    transform: initial;
    opacity: initial;
  }
}